*{
  box-sizing: border-box;
}

.list-container{
  width: 100%;
  max-width: 1500px;
  min-width: 1200px;
  height: 100%;
  padding: 20px 0;
  margin-left: auto;
  margin-right: auto;
}

.movieReview-title{
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

.contents-wrapper{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  gap: 16px;
}

.contents-items{
  width: calc(20%-16px); 
}

.list-row{
    transition: all 1 ease;
}

.list-row:hover{
  transform: translateY(-5px);
}

.list-items{
  margin-bottom: 20px;
}

.poster-img{
  width: 100%;
  height: 410px;
  object-fit: cover;
  border-radius: 5px;
}

.list-title{
  margin-top: 10px;
  font-weight: 700;
  width: 250px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.list-basic{
  font-size: 14px;
  color: #7b7979;
}

.more-page-box{
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f1f1f1;
  border-radius: 0 0 15px 15px;
  border: 1px solid #ccc;
  border-top: none;
}

.pageSize-text{
  padding-top: 10px;
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.arrow-down{
  width: 30px;
}

.morePage-btn{
  padding-top: 2px;
}