.search-container{
  display: flex;
}

.search-text{
  margin-right: 10px;
}

.search-form{
  display: flex;
}

.search-box{
  width: 300px;
  height: 40px;
  align-items: center;
  /* padding: 6px 3px 6px 3px; */
  position: relative;
}

.search-input{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  background-color: #e7e7e7;
  padding-left: 10px;
}

.search-btn{
  position: absolute;
  bottom: 8px;
  right: 10px;
}

.search-img{
  width: 25px;
  height: 25px;
}