.container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.sortButton {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 2px 7px;
  margin-right: 10px;
}

.selected {
  background-color: red;
  color: #ffffff;
  font-weight: 500;
  border: none;
}
