.detail-container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  width: 1200px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.title-desc {
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 20px;
  color: #ccc;
}

.title-wrapper {
  margin: 50px 50px;
}

.title {
  margin-top: 20px;
  font-size: 40px;
  color: #ff2f2f;
}

.profile-wrapper {
  margin: 50px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #e4e4e4;
}

.profile-content {
  display: flex;
  align-items: center;
}

.profile-name {
  text-align: center;
  margin-left: 5px;
  font-size: 20px;
  color: #a5a5a5;
}

.date-wrapper {
  color: #a5a5a5;
  display: flex;
  flex-direction: column;
  text-align: right;

}

.profile-img {
  width: 30px;
  height: 30px;
}

.detailPage-contents-wrapper {
  padding: 30px 50px;
  color: #a5a5a5;
  /* width: 50%; */
}

.image-wrapper{
  width: 570px;
  padding: 10px 50px;
}

.image-poster{
  width: 500px
}

.content-image-box{
  /* display: flex; */
  padding: 20px 0;
  margin-bottom: 50px;
  width: 1200px;
}

.like-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
  gap: 10px;
}

.bottom {
  height: 500px;
  text-align: center;
  justify-content: center;
}