.items-container {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center; 
  /* margin-right: 30px;  */
}

.nav-items > div a{
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nav-items {
  cursor: pointer;
  margin-left: 10px;
  justify-content: center;
  align-items: center;
}



/* .close-login-modal{
  position: fixed;
  float: left;
  font-size: 28px;
  font-weight: bold;
  color: #aaa;
} */